#index-page {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: $primary-font;
  height: 100vh;
  color: $primary-colour;

  h1 {
    font-size: 32px;
    margin: 16px 0;
  }

  p {
    font-size: 20px;
    margin: 16px 0;
  }

  img {
    width: 100%;
    max-width: 35%;
    margin-bottom: 16px;
  }

  a {
    text-decoration: none;
    color: #2661e0;
  }
}
